.idea/

annotations/

images/
Test/WithMask/

Test/WithoutMask/

Train/WithMask/

Train/WithoutMask/

Validation/WithMask/

Validation/WithoutMask/

data

*.h5

model_2

face_mask_dataset/Test/WithMask/

face_mask_dataset/Test/WithoutMask/

face_mask_dataset/Train/WithMask/

face_mask_dataset/Train/WithoutMask/

face_mask_dataset/Validation/WithMask/

face_mask_dataset/Validation/WithoutMask/

hog_feature_faces.npy

grid_results.joblib

hog_negative_features.npy

hog_positive_features.npy

X_train_hog.npy

Y_train_hog.npy

*.joblib

*.npy

__pycache__/utils.cpython-37.pyc

libs/__pycache__/
